---
const { platform, username} = Astro.props;
const { linkedin, usernamelinkedin} = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
<a href={`https://www.${linkedin}.com/in/${usernamelinkedin}`}>{linkedin}</a>

<style>
    
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }

</style>