---
const { platform, username} = Astro.props;
const { linkedin, usernamelinkedin} = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
<a href={`https://www.${linkedin}.com/in/${usernamelinkedin}`}>{linkedin}</a>

