---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
const proNum = frontmatter.proNum || "No project number provided.";
const color = frontmatter.color || "No color provided.";
const upDate = frontmatter.upDate || "DD/MM/YYYY;"
---
<BaseLayout pageTitle={frontmatter.title}>
    <h1>Project {frontmatter.proNum}: <span style={`color: ${color};`}>{frontmatter.title}</span></h1>
    <a href="/projects" class="back-link">← Back to All Projects</a>
    <b style="font-size: 1.2em;">Updated: {upDate}</b>
    <img src={frontmatter.image?.url} width="300" alt={frontmatter.image?.alt} />
    <slot />
</BaseLayout>

<style>
  a {
    color: #00539F;
  }
  h3 {
    font-weight: normal;
  }
  b {
    color: orange
  }
  :root.dark b {
    color: greenyellow;
  }
  .back-link {
    display: inline-block;
    margin-bottom: 1rem;
    color: #00539F;
    text-decoration: none;
  }
  :root.dark .back-link {
    color: white;
  }

  .back-link:hover {
    text-decoration: underline;
  }